<section id="Services">
        <div class="services-us alert alert-info">
        <div class="text text-center">
            <h2>Services</h2>
            <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
        </div>
    
        <div class="card-deck">
      <div class="card">
        <img src="../assets/images/mobile.png" class="card-img align-items-center" alt="..." style="width: 50px; height: 50px; margin-left: 45%">
        <div class="card-body">
          <h5 class="card-title text-center">Digital Work</h5>
          <p class="card-text">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
        </div>
        
      </div>
      <div class="card">
        <img src="../assets/images/Capture1.PNG" class="card-img align-items-center" alt="..." style="width: 50px; height: 50px; margin-left: 45%">
        <div class="card-body">
          <h5 class="card-title text-center">Indian currencies</h5>
          <p class="card-text">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
        </div>
        
      </div>
      <div class="card">
        <img src="../assets/images/Capture4.PNG" class="card-img align-items-center" alt="..." style="width: 50px; height: 50px; margin-left: 45%">
        <div class="card-body">
          <h5 class="card-title text-center">Sed ut perspiciatis</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        
      </div>
    </div>
    <br>
        <div class="card-deck">
      <div class="card">
        <img src="../assets/images/Speed.png" class="card-img align-items-center" alt="..." style="width: 50px; height: 50px; margin-left: 45%">
        <div class="card-body">
          <h5 class="card-title text-center">High Speed Work</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        
      </div>
      <div class="card">
        <img src="../assets/images/Capture.PNG" class="card-img align-items-center" alt="..." style="width: 50px; height: 50px; margin-left: 45%">
        <div class="card-body">
          <h5 class="card-title text-center">Working network all over india</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        
      </div>
      <div class="card">
        <img src="../assets/images/Capture2.PNG" class="card-img align-items-center" alt="..." style="width: 50px; height: 50px; margin-left: 45%">
        <div class="card-body">
          <h5 class="card-title text-center">24/7 Suport</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        
      </div>
    </div>
    </div>
    </section>