
<section id="about">
    <div class="about">
  <div class="container">
      <div class="row">
        <div class="card-title text-center">
            <h3 class="card-title text-dark">About Us</h3>
            <span class="card-text text-dark">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
        </div>
        <div class="card w-90">
    <div class="card-body singh">
      <h6 class="card-title">Eiusmod Tempor
  </h6>
      <p class="card-text">With supporting text below as a natural lead-in to additional content. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi
  
  </p>
      <h6 class="card-title">Magni indian rupies
  </h6>
      <p class="card-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
  </p>
      <h6 class="card-title">Indian currencies Sitema
  </h6>
      <p class="card-text">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata
  </p><br><br>
      <button class="btn btn-warning">More Read</button>
    </div>
  </div>
      <br><br>
  <div class="card mb-3" style="max-width: 5600px;">
    <div class="row">
      <div class="col-md-4">
        <img src="../assets/images/digital.png" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a. <br><br>
  
  Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis deserunt veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum eum eum.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card mb-3" style="max-width: 5600px;">
    <div class="row">
      <div class="col-md-4">
        <img src="../assets/images/main.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit.</h5>
          <p class="card-text">Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis. Voluptas nemo qui aut distinctio. Cumque fugit earum est quam officiis numquam. Ducimus corporis autem at blanditiis beatae incidunt sunt. <br><br>
  
  Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse molestias. Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto. <br><br>
  
  </p>
        </div>
      </div>
    </div>
    <!-- step 2 parent to child data  [uname]="username"-->
    <!-- <app-schild (childData)="childMassege=$event" [uname]="username"></app-schild>
                     step 5 child to parent (childData)="childMassege=$event" 
                      and  {{childMassege}} 
    {{childMassege}} -->
  </div>
</div>
</div>
  </div>
</section><br><br><br>