
<section class="footer-section">
    <div class="text text-center">
    
    </div><br><br><br>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="plain-table">
                        <map class="maps"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14704.815938978789!2d78.24479088167016!3d28.950155899436393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390b9efc2e3b06dd%3A0xe542d5f6901a1698!2sDhanauri+Khurd+Shumali%2C+Uttar+Pradesh+244231!5e0!3m2!1sen!2sin!4v1561289661679!5m2!1sen!2sin" width="200" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></map>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="plain-table">
                        <h4>USEFUL LINKS </h4>
                        <a href="#" class="nav-link">Home</a>
                        <a href="#" class="nav-link">About Us</a>
                        <a href="#" class="nav-link">Services</a>
                        <a href="#" class="nav-link">Terms of service</a>
                        <a href="#" class="nav-link">Privacy policy</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="plain-table">
                        <h4>CONTACT US</h4>
                        <h6>Dhanaura, Amroha <br><br>
            Uttar Pradesh <br><br>
            India <br><br>
            <i class="fa fa-mobile" aria-hidden="true"> Phone: +915214587985</i> <br><br>
            <i class="fa fa-envelope"> Email: info@example.com</i></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="plain-table">
                        <h4>OUR VCHAMP</h4>
                        <P>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</P>
                        <form class="input-group">
                            <input type="text" name="Name">
                            <a href="#" class="btn btn-dark">Subscribe</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>